{% extends "padre.html" %}

{% block title %}
    <title>About me</title>
{% endblock %}

{% block content %}
    <h1>Sobre mi</h1>
    <p style="text-align:justify">Mi nombre es Facundo Ertel, tengo 21 años y actualmente me encuentro en pleno desarrollo de mi formación en el área de la programación. Mi interés por esta disciplina surgió durante una materia en la facultad, donde descubrí la lógica detrás del código y me atrapó su forma estructurada de resolver problemas.
    A partir de esa experiencia, decidí profundizar mis conocimientos en Python, un lenguaje que considero versátil y potente. Próximamente iniciaré un curso de SQL, con el objetivo de complementar mis habilidades técnicas y orientarme profesionalmente al análisis de datos. Creo firmemente en el valor de dominar ambos lenguajes para trabajar con bases de datos de manera eficiente y convertir datos en información útil para la toma de decisiones.
    Estoy comprometido con seguir aprendiendo y creciendo en este camino, con el objetivo de convertirme en un profesional sólido dentro del mundo de la tecnología y los datos.</p>
{% endblock %}