{% extends "padre.html" %}
{% block content %}

<h2>Perfil</h2>
{% if user.avatar %}
    <img style="width: 200px; heigth: 200px" src="{{user.avatar.imagen.url}}" alt="Imagen de avatar">
{% endif %}

<p>Nombre de usuario: {{user.username}}</p>

<p>Primer nombre: {{user.first_name}}</p>
<p>Primer nombre: {{user.last_name}}</p>

<div>
    <a href="{% url 'editar_perfil' %}" class="btn btn-primary" style="padding: 8px 16px; font-size: 16px; border-radius: 5px; text-decoration: none; color: white; border: none;">Editar Perfil</a>
</div>

{% endblock %}